# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/
env/

# IDE specific files
.vscode/
.idea/

# Database files
*.sqlite3
*.db

# Environment variables (actual secrets)
.env
.env.*

# Logs
*.log
logs/